/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

:root {
  --color-black: #000000;
  --color-extra: #c5bdbd;
  --color-grey: #313131;
  --color-light-grey: #9f9f9f;
  --color-light-orange: #eebc6e;
  --color-orange: #f69908;
  --color-plain: #fff;
  --color-secondary: #6b6b6b;
  --color-warning: rgb(223, 84, 25);
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  row-gap: 10px;
}

.calculator-container {
  background-color: var(--color-black);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 678px;
  max-width: 425px;
  width: 100%;
}

.calculator-display-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 118px;
  padding: 20px 30px;
}

.calculator-key-container {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 20px;
}

.error-display {
  color: var(--color-warning);
  font-size: 18px;
  text-align: center;
}

.btn {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 24px;
  height: 80px;
  justify-content: center;
  padding: 30px;
  width: 80px;
}

.btn-sign,
.btn-equals {
  background-color: var(--color-orange);
}

.btn-num,
.btn-back {
  background-color: var(--color-grey);
}

.btn-num,
.btn.btn-sign,
.btn.btn-equals,
.btn-back {
  color: var(--color-plain);
}

.btn-cancel,
.btn-plus-minus,
.btn-percent {
  background-color: var(--color-light-grey);
}

.btn-num:hover,
.btn-back:hover {
  background-color: var(--color-secondary);
}

.btn-cancel:hover,
.btn-plus-minus:hover,
.btn-percent:hover {
  background-color: var(--color-extra);
}

.btn-sign:hover,
.btn-equals:hover {
  background-color: var(--color-light-orange);
}

.btn-sign:focus {
  background-color: var(--color-plain);
  color: var(--color-orange);
}

.calculator-display-input,
.calculator-display-output {
  background-color: transparent;
  border: none;
  color: var(--color-plain);
  font-size: 20px;
  outline: none;
  text-align: right;
}

.calculator-display-output {
  font-size: 48px;
}

.calculator-display-input {
  font-size: 36px;
}

.kudos {
  font-size: 18px;
  margin: 0.5rem 0 0;
}

@media screen and (max-width: 375px) {
  .body {
    row-gap: 0;
  }

  .calculator-display-container {
    padding: 30px 30px 10px 30px;
    row-gap: 10px;
  }

  .btn {
    font-size: 1.2rem;
    height: 68px;
    width: 68px;
  }

  .kudos {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .calculator-key-container {
    gap: 10px 10px;
    padding: 12px;
  }

  .error-display {
    font-size: 1.05rem;
  }
}
